# 🔥 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🔥 Virtualenv
venv/
.env

# 🔥 Django
*.sqlite3
db.sqlite3

# 🔥 Media (uploady użytkowników)
media/

# 🔥 Static (opcjonalnie jeśli collectstatic)
staticfiles/

# 🔥 Logs
*.log

# 🔥 Environment variables
.env
.env.*

# 🔥 VSCode / IDE
.vscode/
.idea/

# 🔥 System
Thumbs.db
.DS_Store

# 🔥 Git
*.swp