{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Regulamin sklepu</h1>

  <p>
    Sprzedawcą jest Anna Wac, kontakt: niemieckizania87@gmail.com
  </p>

  <h3>1. Postanowienia ogólne</h3>
  <p>
    Sklep oferuje sprzedaż produktów cyfrowych w postaci plików PDF do nauki języka niemieckiego.
  </p>

  <h3>2. Składanie zamówień</h3>
  <p>
    Zamówienia można składać poprzez stronę internetową.
  </p>

  <h3>3. Płatności</h3>
  <p>
    Płatności realizowane są za pośrednictwem dostępnych metod płatności (np. PayPal lub przelew bankowy).
  </p>

  <h3>4. Dostawa</h3>
  <p>
    Produkt dostarczany jest w formie elektronicznej po zaksięgowaniu płatności.
  </p>

  <h3>5. Zwroty i odstąpienie od umowy</h3>
  <p>
    Klient wyraża zgodę na dostarczenie treści cyfrowych przed upływem 14 dni od zakupu i tym samym traci prawo do odstąpienia od umowy.
  </p>

  <h3>6. Reklamacje</h3>
  <p>
    W przypadku problemów z produktem prosimy o kontakt mailowy: niemieckizania87@gmail.com
  </p>

  <h3>7. Kontakt</h3>
  <p>
    Kontakt ze sprzedawcą: niemieckizania87@gmail.com
  </p>

</div>
{% endblock %}