{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Dane sprzedawcy</h1>

  <p>
    Sprzedawcą jest osoba fizyczna:<br>
    <strong>Anna Wac</strong>
  </p>

  <p>
    Kontakt e-mail:<br>
    niemieckizania87@gmail.com
  </p>

  <p>
    Sprzedaż prowadzona jest w ramach działalności nierejestrowanej zgodnie z art. 5 ustawy Prawo przedsiębiorców.
  </p>

  <p>
    Oferta obejmuje sprzedaż produktów cyfrowych (materiały PDF do nauki języka niemieckiego).
  </p>

  <p>
    W przypadku pytań prosimy o kontakt mailowy.
  </p>

</div>
{% endblock %}