{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="payment-box success-box">

        <h1>
            🎉 Dziękujemy!
        </h1>

        <p>

            Płatność została przyjęta pomyślnie.

        </p>

        <p>

            Materiały zostaną wysłane na podany adres email 📩

        </p>

        <a
            href="{% url 'sklep' %}"
            class="back-btn"
        >

            Wróć do sklepu

        </a>

    </div>

</div>

{% endblock %}