{% extends "base.html" %}

{%block content%}
<section class="contact">
  <div class="container contact-wrapper">

    <div class="contact-text">
      <h2>Masz pytania? Chcesz zacząć naukę?</h2>

      <p>
        Napisz do mnie i umów się na pierwszą lekcję 👇  
        Odpowiem jak najszybciej i dopasujemy naukę do Twojego poziomu.
      </p>

      <ul>
        <li>✔️ Lekcje 1:1 online</li>
        <li>✔️ Nauka od podstaw (A1–B2)</li>
        <li>✔️ Praktyczny niemiecki do życia w DE 🇩🇪</li>
        <li>✔️ Kontakt z żywym językiem – rozmowy z native speakerem</li>
      </ul>
    </div>

    <!-- FORM -->
    <form method="POST" class="contact-form">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Twoje imię" required>
      <input type="email" name="email" placeholder="Twój email" required>
      <textarea name="message" placeholder="Twoja wiadomość..." required></textarea>

      <button type="submit" class="btn">
        📩 Wyślij wiadomość
      </button>
    </form>

  </div>
</section>
{% endblock%}